body {
    background-color: #7498b6;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat; /*para que la imagen no se repita en todo el fondo*/
    background-position: center; /*la imagen se posiciona en el centro y se puede mover hacia abajo*/
    background-attachment: fixed; /*la imagen está en el centro, se puede bajar pero no se mueve*/
    background-size: cover; /*la imagen cubre todo el fondo*/
    position: relative;
}

.nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-image: url(../img/FondoNav.jpg);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.logo {
    width: 175px;
}

.nav-item{
    background-color: rgba(189, 224, 240, 0.8);
}

h1 {
    background-color: #7498b6;
    color: white;
    font-family: monospace;
}

h3 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightsteelblue;
    margin-left: 100px;
    margin-right: 100px;
}

img {
    display:block;
    margin:auto;
}

.texto {
    text-align: justify;
    margin-bottom: 80px;
    margin-left: 80px;
    margin-right: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
